<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentDonation.mapper.AdminMapper">
	<!-- 검색 조건문(회원현황) -->
    <sql id="criteria">
        <if test="type != null and keyword != null">
            <trim prefix="and " suffix="" prefixOverrides="OR">
                <foreach item="type" collection="typeArr">
                    <trim prefix="OR">
                        <choose>
                        	<when test="type == 'I'.toString()">
                                m.mem_id LIKE '%'|| #{keyword} ||'%'
                            </when>
                            <when test="type == 'N'.toString()">
                                m.mem_name LIKE '%'|| #{keyword} ||'%'
                            </when>
                            <when test="type == 'E'.toString()">
                                m.mem_email LIKE '%'|| #{keyword} ||'%'
                            </when>                            
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>
    
	<!-- 회원정보 가져오기 -->
    <select id="getMemberList" parameterType="list" resultType="com.talentDonation.dto.Member">
        <!-- select * from (select ~ from (select~ ) 서브쿼리 alias where rownum <= #{pageNum}*#{amount} ) where rnum>(#{pageNum}-1)*#{amount} -->
        select * from (select rownum as rn, m.* from member m where m.mem_type = 1
        <if test="keyword != null">
           <include refid="criteria"></include>
        </if>        
        ) T1
        where rn between ((nvl(#{pageNum},0)-1)*#{amount})+1 and (nvl(#{pageNum},0)*#{amount})
        <!-- where rn between 1 and 10 -->       
    </select>
    
    <!-- 회원 총 인원수 -->
    <select id="getMemberAdminTotal" resultType="int">
        select count(*) from member m where m.mem_type = 1
        <if test="keyword != null">
            <include refid="criteria"></include>
        </if>
    </select>
    
    <!-- 회원정보 상세보기(Admin) -->
    <select id="getMemberDetail" resultType="com.talentDonation.dto.Member">
        select * from member where mem_id= #{memId}
    </select>
    
    <!-- 트레이너정보 가져오기 -->
    <select id="getTrainerList" parameterType="list" resultType="com.talentDonation.dto.Member">
        <!-- select * from (select ~ from (select~ ) 서브쿼리 alias where rownum <= #{pageNum}*#{amount} ) where rnum>(#{pageNum}-1)*#{amount} -->
        select * from (select rownum as rn, m.* from member m where m.mem_type = 2
        <if test="keyword != null">
           <include refid="criteria"></include>
        </if>        
        ) T1
        where rn between ((nvl(#{pageNum},0)-1)*#{amount})+1 and (nvl(#{pageNum},0)*#{amount})
        <!-- where rn between 1 and 10 -->       
    </select>
    
    <!-- 트레이너 총 인원수 -->
    <select id="getTrainerAdminTotal" resultType="int">
        select count(*) from member m where m.mem_type = 2
        <if test="keyword != null">
            <include refid="criteria"></include>
        </if>
    </select>
    
    <!-- 트레이너정보 상세보기(Admin) -->
    <select id="getTrainerDetail" resultType="com.talentDonation.dto.Member">
        select * from member m left join trainer t on m.mem_id = t.tr_mem_id where m.mem_id = #{memId}
    </select>
    
    <!-- 트레이너 정보 추가 등록 -->
	<insert id="addTrainer">
        insert into trainer(tr_mem_id, tr_career, tr_license)
        values (#{memId}, #{trCareer}, #{trLicense})
    </insert>
    
    <!-- 트레이너정보 수정 -->
    <update id="modifyTrainerInfo">
        update trainer
        set tr_career = #{trCareer}, tr_license = #{trLicense} 
        where tr_mem_id = #{memId}
    </update>
    
    <!--  트레이너명 가져오기 -->
    <select id="getTrainerName" resultType="com.talentDonation.dto.Trainer">
        select * from (select rownum as rn, t.*, m.mem_name from trainer t join member m on t.tr_mem_id=m.mem_id)
    </select>
    
    <!--  키워드명 가져오기 -->
    <select id="getKeyName" resultType="com.talentDonation.dto.Keyword">
        select * from (select rownum as rn, k.* from keyword k)
    </select>
    
    <!-- 프로그램 추가 -->
	<insert id="addProgram">
        insert into program(prog_id, prog_trmem_id, prog_key_id, prog_title, prog_location, prog_price, prog_recruit_num, prog_content, prog_rsv_status, prog_status, prog_due, prog_start_date, prog_end_date)
        values (prog_id.nextval, #{progTrmemId}, #{progKeyId}, #{progTitle}, #{progLocation}, #{progPrice}, #{progRecruitNum}, #{progContent}, 1, 0, #{progDue}, #{progStartDate}, #{progEndDate})
    </insert>
    
    <!-- 검색 조건문(프로그램 현황) -->
    <sql id="criteria_program">
        <if test="type != null and keyword != null">
            <trim prefix="and" suffix="" prefixOverrides="OR">
                <foreach item="type" collection="typeArr">
                    <trim prefix="OR">
                        <choose>
                        	<when test="type == 'P'.toString()">
                                p.prog_title LIKE '%'|| #{keyword} ||'%'
                            </when>
                            <when test="type == 'T'.toString()">
                                m.mem_name LIKE '%'|| #{keyword} ||'%'
                            </when>
                            <when test="type == 'L'.toString()">
                                p.prog_location LIKE '%'|| #{keyword} ||'%'
                            </when>                            
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>
    
    <!-- 프로그램 정보 가져오기 -->
    <select id="getProgramList" parameterType="list" resultType="com.talentDonation.dto.Program">
        select * from (select rownum as rn, p.*, m.mem_name from program p join member m on p.prog_trmem_id = m.mem_id where prog_status in(0, 1)
        <if test="keyword != null">
           <include refid="criteria_program"></include>
        </if>        
        ) T1
        where rn between ((nvl(#{pageNum},0)-1)*#{amount})+1 and (nvl(#{pageNum},0)*#{amount}) 
    </select>
    
    <!-- 프로그램 총 개수 -->
    <select id="getProgramAdminTotal" resultType="int">
        select count(*) from program p join member m on p.prog_trmem_id = m.mem_id where 1=1
        <if test="keyword != null">
            <include refid="criteria_program"></include>
        </if>
    </select>
    
    <!-- 프로그램 정보 상세보기(Admin) -->
    <select id="getProgramDetail" resultType="com.talentDonation.dto.Program">
        select * from program p join member m on p.prog_trmem_id = m.mem_id join keyword k on p.prog_key_id=k.key_id where prog_id = #{progId}
    </select>
    
    <!-- 프로그램 정보 수정 -->
    <update id="modifyProgramInfo">
        update program
		set prog_title=#{progTitle}, prog_location=#{progLocation}, prog_price=#{progPrice}, prog_recruit_num=#{progRecruitNum}, prog_content=#{progContent}, prog_due=#{progDue}, prog_start_date=#{progStartDate}, prog_end_date=#{progEndDate}            
		where prog_id = #{progId}
    </update>
    
    <!-- 프로그램 삭제 -->
    <update id="deleteProgram">
        update program
        set prog_status = -1            
        where prog_id = #{progId}
    </update>
    
    <!-- 검색 조건문(전체 교육신청 현황) -->
    <sql id="criteria_apply">
        <if test="type != null and keyword != null">
            <trim prefix="where" suffix="" prefixOverrides="OR">
                <foreach item="type" collection="typeArr">
                    <trim prefix="OR">
                        <choose>
                        	<when test="type == 'N'.toString()">
                                m.mem_name LIKE '%'|| #{keyword} ||'%'
                            </when>
                            <when test="type == 'T'.toString()">
                                m.mem_tel LIKE '%'|| #{keyword} ||'%'
                            </when>
                            <when test="type == 'P'.toString()">
                                p.prog_title LIKE '%'|| #{keyword} ||'%'
                            </when>                            
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>
    
    <!-- 신청 정보 가져오기 -->
    <select id="getApplyListAdmin" parameterType="list" resultType="com.talentDonation.dto.Apply">
        select * from (select rownum as rn, a.*, m.mem_id, m.mem_name, m.mem_tel, p.prog_title from apply a join program p on a.apply_prog_id = p.prog_id join dog d on a.apply_dog_id = d.dog_id join member m on d.dog_mem_id = m.mem_id
        <if test="keyword != null">
           <include refid="criteria_apply"></include>
        </if>        
        ) T1
        where rn between ((nvl(#{pageNum},0)-1)*#{amount})+1 and (nvl(#{pageNum},0)*#{amount})
        order by apply_date desc
    </select>
    
    <!-- 신청 총 개수 -->
    <select id="getApplyAdminTotal" resultType="int">
        select count(*) from (select rownum as rn, a.*, m.mem_id, m.mem_name, m.mem_tel, p.prog_title from apply a join program p on a.apply_prog_id = p.prog_id join dog d on a.apply_dog_id = d.dog_id join member m on d.dog_mem_id = m.mem_id)
        <if test="keyword != null">
            <include refid="criteria_apply"></include>
        </if>
    </select>
    
    <!-- 신청 정보 상세보기(Admin) -->
    <select id="getApplyDetailAdmin" resultType="com.talentDonation.dto.Apply">
        select m.mem_name, m.mem_tel, d.dog_name, d.dog_breed, d.dog_birthday, p.prog_title, a.* 
		from apply a join program p on a.apply_prog_id = p.prog_id join dog d on a.apply_dog_id = d.dog_id join member m on d.dog_mem_id = m.mem_id 
		where p.prog_id=#{applyProgId} and d.dog_id=#{applyDogId} and m.mem_id=#{memId}
    </select>
    
    <!-- 신청 정보 상태값 수정 -->
    <update id="modifyApplyStatus">
        update apply 
        set apply_status=#{applyStatus}
        where apply_dog_id=#{applyDogId} and apply_prog_id=#{applyProgId}
    </update>
    
</mapper>