<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentDonation.mapper.MyPageMapper">

	<!-- 회원정보 수정 -->
    <update id="modifyMemberInfo">
        update member
        set mem_pwd=#{memPwd}, mem_name=#{memName}, mem_tel=#{memTel}, mem_email=#{memEmail}        
        where mem_id = #{memId}
    </update> 
    
    <!-- 반려견 등록 -->   
    <insert id="addDog">
    	insert into dog values(dog_id.nextval, #{dogMemId}, #{dogName}, #{dogBreed}, #{dogBirthday}, #{dogWeight}, #{dogRemark}, 1)
    </insert>
    
    <!-- 전체 반려견정보 가져오기 -->
    <select id="getDogList" parameterType="list" resultType="com.talentDonation.dto.Dog">
        select * from dog where dog_mem_id=#{dogMemId} and dog_status=1
    </select>
    
    <!-- 반려견정보 가져오기 -->
    <select id="getDogDetail" resultType="com.talentDonation.dto.Dog">
        select * from dog where dog_id= #{dogId}
    </select>
    
    <!-- 반려견정보 수정 -->
    <update id="modifyDogInfo">
        update dog
        set dog_name=#{dogName}, dog_breed=#{dogBreed}, dog_birthday=#{dogBirthday}, dog_weight=#{dogWeight}, dog_remark=#{dogRemark}            
        where dog_id = #{dogId}
    </update>
    
    <!-- 반려견 삭제 -->
    <update id="deleteDog">
        update dog
        set dog_status = -1            
        where dog_id = #{dogId}
    </update>
    
    <!-- 검색 조건문(교육신청 현황) -->
    <sql id="criteria_applyMember">
        <if test="cri.type != null and cri.keyword != null">
            <trim prefix="where" suffix="" prefixOverrides="OR">
                <foreach item="type" collection="cri.typeArr">
                    <trim prefix="OR">
                        <choose>
                        	<when test="type == 'P'.toString()">
                               prog_title LIKE '%'|| #{cri.keyword} ||'%'
                            </when>
                            <when test="type == 'T'.toString()">
                               mem_name LIKE '%'|| #{cri.keyword} ||'%'
                            </when>
                            <when test="type == 'D'.toString()">
                               dog_name LIKE '%'|| #{cri.keyword} ||'%'
                            </when>                            
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>
    
    <!-- 신청현황 정보 가져오기(일반회원) -->
    <select id="getApplyListMember" parameterType="map" resultType="com.talentDonation.dto.Apply">        
        select * from (select A.* from (select rownum as rn, p.prog_title, m.mem_name, (select mem_type from member where mem_id = d.dog_mem_id) mem_type, d.dog_name, d.dog_mem_id, p.prog_location, a.* 
		from apply a join program p on a.apply_prog_id = p.prog_id join dog d on a.apply_dog_id = d.dog_id join member m on p.prog_trmem_id = m.mem_id
		where dog_mem_id = #{memId} ) A 
		<if test="cri.keyword != null">
           <include refid="criteria_applyMember"></include>
        </if>         
        ) B
        where rn between ((nvl(#{cri.pageNum},0)-1)*#{cri.amount})+1 and (nvl(#{cri.pageNum},0)*#{cri.amount})        
        order by apply_date desc       
    </select>
    
    <!-- 신청현황 총 개수(일반회원) -->
    <select id="getApplyMemberTotal" resultType="int">
        select count(*) from (select rownum as rn, p.prog_title, m.mem_name, (select mem_type from member where mem_id = d.dog_mem_id) mem_type, d.dog_name, d.dog_mem_id, p.prog_location, a.* 
		from apply a join program p on a.apply_prog_id = p.prog_id join dog d on a.apply_dog_id = d.dog_id join member m on p.prog_trmem_id = m.mem_id
		where dog_mem_id = #{memId} ) T1
		<if test="cri.keyword != null">
            <include refid="criteria_applyMember"></include>
        </if>
    </select>
    
    <!-- 신청 정보 상세보기(일반회원) -->
    <select id="getApplyDetailMember" resultType="com.talentDonation.dto.Apply">
        select m.mem_name, m.mem_tel, d.dog_name, d.dog_breed, d.dog_birthday, p.prog_price, p.prog_title, a.* 
		from apply a join program p on a.apply_prog_id = p.prog_id join dog d on a.apply_dog_id = d.dog_id join member m on d.dog_mem_id = m.mem_id 
		where p.prog_id=#{applyProgId} and d.dog_id=#{applyDogId}
    </select>
    
   <!-- 신청현황 정보 가져오기(트레이너) -->
    <select id="getApplyListTrainer" parameterType="list" resultType="com.talentDonation.dto.Apply">
        select * from (select A.* from (select rownum as rn, a.*, m.mem_id, m.mem_name, m.mem_tel, (select mem_type from member where mem_id = p.prog_trmem_id) mem_type, p.prog_title, p.prog_trmem_id,d.dog_name, p.prog_location 
		from apply a join program p on a.apply_prog_id = p.prog_id join dog d on a.apply_dog_id = d.dog_id join member m on d.dog_mem_id = m.mem_id
 		where prog_trmem_id = #{memId} ) A
        <if test="cri.keyword != null">
           <include refid="criteria_applyMember"></include>
        </if>        
        ) B
        where rn between ((nvl(#{cri.pageNum},0)-1)*#{cri.amount})+1 and (nvl(#{cri.pageNum},0)*#{cri.amount})        
        order by apply_date desc
    </select>
    
    <!-- 신청현황 총 개수(트레이너) -->
    <select id="getApplyTrainerTotal" resultType="int">
        select count(*) from (select rownum as rn, a.*, m.mem_id, m.mem_name, m.mem_tel, (select mem_type from member where mem_id = p.prog_trmem_id) mem_type, p.prog_title, p.prog_trmem_id,d.dog_name, p.prog_location 
		from apply a join program p on a.apply_prog_id = p.prog_id join dog d on a.apply_dog_id = d.dog_id join member m on d.dog_mem_id = m.mem_id
		where prog_trmem_id = #{memId} ) T1 		
        <if test="cri.keyword != null">
            <include refid="criteria_applyMember"></include>
        </if>
    </select>
    
    <!-- 신청 정보 상세보기(트레이너) -->
    <select id="getApplyDetailTrainer" resultType="com.talentDonation.dto.Apply">
        select m.*, d.* 
        from member m join dog d on m.mem_id = d.dog_mem_id join apply a on d.dog_id = a.apply_dog_id 
		where a.apply_prog_id = #{applyProgId} and a.apply_dog_id = #{applyDogId}
    </select>
    
    <!-- 검색 조건문(교육일지 목록_일반회원) -->
    <sql id="criteria_recordMember">
        <if test="cri.type != null and cri.keyword != null">
            <trim prefix="where" suffix="" prefixOverrides="OR">
                <foreach item="type" collection="cri.typeArr">
                    <trim prefix="OR">
                        <choose>
                        	<when test="type == 'T'.toString()">
                                rc_title LIKE '%'|| #{cri.keyword} ||'%'
                            </when>
                            <when test="type == 'I'.toString()">
                                prog_trmem_id LIKE '%'|| #{cri.keyword} ||'%'
                            </when>                           
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>
    
	<!-- 교육일지 정보 가져오기(일반회원) -->
    <select id="getRecordListMember" parameterType="list" resultType="com.talentDonation.dto.Record">
        select * from (select A.* from (select rownum as rn, r.*, d.dog_mem_id, d.dog_name, p.prog_trmem_id, p.prog_title 
        from record r join dog d on r.rc_dog_id = d.dog_id join program p on r.rc_prog_id = p.prog_id 
        where d.dog_mem_id = #{dogMemId} ) A
        <if test="cri.keyword != null">
           <include refid="criteria_recordMember"></include>
        </if>        
        ) B
        where rn between ((nvl(#{cri.pageNum},0)-1)*#{cri.amount})+1 and (nvl(#{cri.pageNum},0)*#{cri.amount})      
    </select>
    
    <!-- 교육일지 총 개수(일반회원) -->
    <select id="getRecordMemberTotal" resultType="int">
        select count(*) from (select rownum as rn, r.*, d.dog_mem_id, p.prog_trmem_id 
        from record r join dog d on r.rc_dog_id = d.dog_id join program p on r.rc_prog_id = p.prog_id 
        where d.dog_mem_id = #{dogMemId})
        <if test="cri.keyword != null">
            <include refid="criteria_recordMember"></include>
        </if>
    </select>
    
    <!-- 교육일지 상세정보(일반회원) -->
    <select id="getRecordDetailMember" resultType="com.talentDonation.dto.Record">
        select r.*, d.dog_name, p.prog_trmem_id, p.prog_title 
        from record r join dog d on r.rc_dog_id = d.dog_id join program p on r.rc_prog_id = p.prog_id 
        where r.rc_prog_id = #{rcProgId} and r.rc_dog_id = #{rcDogId}
    </select>
    
    <!-- 검색 조건문(교육일지 목록_트레이너) -->
    <sql id="criteria_recordTrainer">
        <if test="cri.type != null and cri.keyword != null">
            <trim prefix="where" suffix="" prefixOverrides="OR">
                <foreach item="type" collection="cri.typeArr">
                    <trim prefix="OR">
                        <choose>
                        	<when test="type == 'T'.toString()">
                                rc_title LIKE '%'|| #{cri.keyword} ||'%'
                            </when>
                            <when test="type == 'I'.toString()">
                                dog_mem_id LIKE '%'|| #{cri.keyword} ||'%'
                            </when>                           
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>
    
	<!-- 교육일지 정보 가져오기(트레이너) -->
    <select id="getRecordListTrainer" parameterType="list" resultType="com.talentDonation.dto.Record">
        select * from (select * from (select rownum as rn, r.*, p.prog_trmem_id, p.prog_title, d.dog_mem_id, d.dog_name 
		from record r join program p on r.rc_prog_id = p.prog_id join dog d on r.rc_dog_id = d.dog_id 
		where p.prog_trmem_id = #{progTrmemId}) A
        <if test="cri.keyword != null">
           <include refid="criteria_recordTrainer"></include>
        </if>        
        ) B
        where rn between ((nvl(#{cri.pageNum},0)-1)*#{cri.amount})+1 and (nvl(#{cri.pageNum},0)*#{cri.amount})       
    </select>
    
    <!-- 교육일지 총 개수(트레이너) -->
    <select id="getRecordTrainerTotal" resultType="int">
        select count(*) from (select rownum as rn, r.*, p.prog_trmem_id, d.dog_mem_id 
		from record r join program p on r.rc_prog_id = p.prog_id join dog d on r.rc_dog_id = d.dog_id 
		where p.prog_trmem_id = #{progTrmemId})
        <if test="cri.keyword != null">
            <include refid="criteria_recordTrainer"></include>
        </if>
    </select>
    
    <!-- 교육일지 상세정보(트레이너) -->
    <select id="getRecordDetailTrainer" resultType="com.talentDonation.dto.Record">
        select r.*, d.dog_mem_id, d.dog_name, p.prog_title 
        from record r join program p on r.rc_prog_id = p.prog_id join dog d on r.rc_dog_id = d.dog_id 
        where r.rc_prog_id = #{rcProgId} and r.rc_dog_id = #{rcDogId}
    </select>
    
    <!-- 교육일지 정보 수정 -->
    <update id="modifyRecordInfo">
        update record 
        set rc_title = #{rcTitle}, rc_content = #{rcContent} 
        where rc_prog_id = #{rcProgId} and rc_dog_id = #{rcDogId}
    </update>
    
    <!-- 신청내용별 교육일지 카운트 -->
    <select id="recordCount" resultType="int">
        select count(*) from record where rc_prog_id = #{rcProgId} and rc_dog_id = #{rcDogId}
    </select>
    
    <!-- 교육일지 등록 -->   
    <insert id="addRecord">
    	insert into record values(#{rcDogId}, #{rcProgId}, #{rcTitle}, #{rcContent}, sysdate)    	
    </insert>
    
</mapper>