<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentDonation.mapper.MyPageMapper">

	<!-- 회원정보 수정 -->
    <update id="modifyMemberInfo">
        update member
        set mem_pwd=#{memPwd}, mem_name=#{memName}, mem_tel=#{memTel}, mem_email=#{memEmail}        
        where mem_id = #{memId}
    </update> 
    
    <!-- 반려견 등록 -->   
    <insert id="addDog">
    	insert into dog values(dog_id.nextval, #{dogMemId}, #{dogName}, #{dogBreed}, #{dogBirthday}, #{dogWeight}, #{dogRemark}, 1)
    </insert>
    
    <!-- 전체 반려견정보 가져오기 -->
    <select id="getDogList" parameterType="list" resultType="com.talentDonation.dto.Dog">
        select * from dog where dog_mem_id=#{dogMemId} and dog_status=1
    </select>
    
    <!-- 반려견정보 가져오기 -->
    <select id="getDogDetail" resultType="com.talentDonation.dto.Dog">
        select * from dog where dog_id= #{dogId}
    </select>
    
    <!-- 반려견정보 수정 -->
    <update id="modifyDogInfo">
        update dog
        set dog_name=#{dogName}, dog_breed=#{dogBreed}, dog_birthday=#{dogBirthday}, dog_weight=#{dogWeight}, dog_remark=#{dogRemark}            
        where dog_id = #{dogId}
    </update>
    
    <!-- 반려견 삭제 -->
    <update id="deleteDog">
        update dog
        set dog_status = -1            
        where dog_id = #{dogId}
    </update>
    
    <!-- 검색 조건문(교육신청 현황) -->
    <sql id="criteria_applyMember">
        <if test="type != null and keyword != null">
            <trim prefix="and" suffix="" prefixOverrides="OR">
                <foreach item="type" collection="typeArr">
                    <trim prefix="OR">
                        <choose>
                        	<when test="type == 'P'.toString()">
                                p.prog_title LIKE '%'|| #{keyword} ||'%'
                            </when>
                            <when test="type == 'T'.toString()">
                                m.mem_name LIKE '%'|| #{keyword} ||'%'
                            </when>
                            <when test="type == 'D'.toString()">
                                d.dog_name LIKE '%'|| #{keyword} ||'%'
                            </when>                            
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>
    
    <!-- 신청현황 정보 가져오기(일반회원) -->
    <select id="getApplyListMember" parameterType="list" resultType="com.talentDonation.dto.Apply">
        select * from (select rownum as rn, p.prog_title, m.mem_name, d.dog_name, p.prog_location, a.* 
		from apply a join program p on a.apply_prog_id = p.prog_id join dog d on a.apply_dog_id = d.dog_id join member m on p.prog_trmem_id = m.mem_id 
		where d.dog_mem_id = #{memId}
       <!--  <if test="keyword != null">
           <include refid="criteria_applyMember"></include>
        </if>   -->      
        ) T1
        <!-- where rn between ((nvl(#{pageNum},0)-1)*#{amount})+1 and (nvl(#{pageNum},0)*#{amount}) -->
        order by apply_date desc
    </select>
    
    <!-- 신청현황 총 개수(일반회원) -->
    <select id="getApplyMemberTotal" resultType="int">
        select count(*) from (select rownum as rn, p.prog_title, m.mem_name, d.dog_name, p.prog_location, a.* 
		from apply a join program p on a.apply_prog_id = p.prog_id join dog d on a.apply_dog_id = d.dog_id join member m on p.prog_trmem_id = m.mem_id) 
		where d.dog_mem_id = #{memId}
        <!-- <if test="keyword != null">
            <include refid="criteria_applyMember"></include>
        </if> -->
    </select>
    
    <!-- 신청현황 정보 가져오기(트레이너) -->
    <select id="getApplyListTrainer" parameterType="list" resultType="com.talentDonation.dto.Apply">
        select * from (select rownum as rn, a.*, m.mem_id, m.mem_name, m.mem_tel, p.prog_title, p.prog_trmem_id,d.dog_name, p.prog_location 
 		from apply a join program p on a.apply_prog_id = p.prog_id join dog d on a.apply_dog_id = d.dog_id join member m on d.dog_mem_id = m.mem_id
 		where prog_trmem_id = #{memId}
       <!--  <if test="keyword != null">
           <include refid="criteria_applyMember"></include>
        </if>   -->      
        ) T1
        <!-- where rn between ((nvl(#{pageNum},0)-1)*#{amount})+1 and (nvl(#{pageNum},0)*#{amount}) -->
        order by apply_date desc
    </select>
    
    <!-- 신청현황 총 개수(일반회원) -->
    <select id="getApplyTrainerTotal" resultType="int">
        select count(*) from (select rownum as rn, a.*, m.mem_id, m.mem_name, m.mem_tel, p.prog_title, p.prog_trmem_id, d.dog_name, p.prog_location 
 		from apply a join program p on a.apply_prog_id = p.prog_id join dog d on a.apply_dog_id = d.dog_id join member m on d.dog_mem_id = m.mem_id)
 		where prog_trmem_id = #{memId}
        <!-- <if test="keyword != null">
            <include refid="criteria_applyMember"></include>
        </if> -->
    </select>
    
</mapper>