<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentDonation.mapper.ReviewMapper">

	<!-- 교육후기 정보 가져오기 -->
    <select id="getReviewExample" resultType="com.talentDonation.dto.Review">
    	select * from (select ROWNUM, p.prog_title, r.rev_dog_id, r.rev_prog_id, r.rev_title, r.rev_content, avg(r.rev_rate)
		from program p join review r on p.prog_id = r.rev_prog_id 
		group by ROWNUM, p.prog_title, r.rev_dog_id, r.rev_prog_id, r.rev_title, r.rev_content 
		order by avg(r.rev_rate) desc) where ROWNUM between 1 and 1
    </select>
	
	<!-- 검색 조건문(교육후기 현황) -->
    <sql id="criteria_review">
        <if test="type != null and keyword != null">
            <trim prefix="where" suffix="" prefixOverrides="OR">
                <foreach item="type" collection="typeArr">
                    <trim prefix="OR">
                        <choose>
                        	<when test="type == 'P'.toString()">
                                prog_title LIKE '%'|| #{keyword} ||'%'
                            </when>
                            <when test="type == 'T'.toString()">
                                rev_title LIKE '%'|| #{keyword} ||'%'
                            </when>
                            <when test="type == 'I'.toString()">
                                dog_mem_id LIKE '%'|| #{keyword} ||'%'
                            </when>                            
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>
    
	<!-- 교육후기 정보 가져오기 -->
    <select id="getReviewList" parameterType="list" resultType="com.talentDonation.dto.Review">
        select * from (select rownum as rn, r.*, p.prog_title, d.dog_mem_id 
        from review r join program p on r.rev_prog_id = p.prog_id join dog d on r.rev_dog_id = d.dog_id
        <if test="keyword != null">
           <include refid="criteria_review"></include>
        </if>        
        ) T1
        where rn between ((nvl(#{pageNum},0)-1)*#{amount})+1 and (nvl(#{pageNum},0)*#{amount})   
    </select>
    
    <!-- 교육후기 총 개수 -->
    <select id="getReviewTotal" resultType="int">
        select count(*) from (select rownum as rn, r.*, p.prog_title, d.dog_mem_id 
        from review r join program p on r.rev_prog_id = p.prog_id join dog d on r.rev_dog_id = d.dog_id)
        <if test="keyword != null">
            <include refid="criteria_review"></include>
        </if>
    </select>
    
    <!-- 교육후기 정보 상세보기 -->
    <select id="getReviewDetail" resultType="com.talentDonation.dto.Review">
        select distinct r.*, p.prog_title, d.dog_mem_id 
		from review r join program p on r.rev_prog_id = p.prog_id join dog d on r.rev_dog_id = d.dog_id join apply a on p.prog_id = a.apply_prog_id 
		where r.rev_prog_id = #{revProgId} and r.rev_dog_id = #{revDogId} and a.apply_status = 1 and p.prog_status = 1
    </select>
    
    <!-- 신청내용별 교육후기 카운트 -->
    <select id="reviewCount" resultType="int">
        select count(*) from review where rev_prog_id = #{revProgId} and rev_dog_id = #{revDogId}
    </select>
    
    <!-- 교육후기 등록 -->   
    <insert id="addReview">
    	insert into review values(#{revDogId}, #{revProgId}, #{revTitle}, #{revContent}, sysdate, #{revRate}) 	
    </insert>
    
    <!-- 교육후기 수정 -->
    <update id="modifyReviewInfo">
        update review 
        set rev_title = #{revTitle}, rev_content = #{revContent} 
        where rev_prog_id = #{revProgId} and rev_dog_id = #{revDogId}
    </update>
    
    <!-- 리뷰 랭킹 TOP3 가져오기 -->
    <select id="getReviewTop3" resultType="com.talentDonation.dto.Review">    
        select ROWNUM as rn, A.* from (select r.rev_prog_id, avg(r.rev_rate), p.prog_title, p.prog_content, p.prog_trmem_id, r.rev_title, r.rev_content, r.rev_dog_id
		from review r join program p on r.rev_prog_id = p.prog_id
		group by r.rev_prog_id, p.prog_title, p.prog_content, p.prog_trmem_id, r.rev_title, r.rev_content, r.rev_dog_id
		order by avg(r.rev_rate) desc) A
		where ROWNUM between 1 and 3	
    </select>
	
</mapper>